<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head>{{ HEAD }}
    <link rel="shortcut icon" href="img/favicons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#000000" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000000" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta property="og:title" content="Antichambre" />
    <meta property="og:url" content="https://antichambre.netlify.app" />
    <meta property="og:description" content="Antichambre">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="400">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
</head>

<body {{ BODY_ATTRS }}>
    {{ APP }}
    


</body>

</html>