<template>
    <div class="module module-ateliers" type="module-ateliers">
        <div class="module-inner">
            <h2>Liens utiles</h2>
          <ul class="">
            <li>
              <h3><a href="#" target="_blank">Notre fichier partagé</a></h3>
              <p>Ce fichier partagé est notre carnet de croquis commun. Là où vous pouvez partager votre travail ou poser des questions.</p>
            </li>
            <li>
              <h3><a href="#" target="_blank">Se créer un compte personnel sur le site de l'éditeur P5.js</a></h3>
              <p>La création de ce compte est indispensable pour vous permettre de sauvegarder votre travail et de le partager avec d'autres. </p>
            </li>
            <li>
              <h3><a href="#" target="_blank">L'éditeur P5.js</a></h3>
              <p>Le site de l'éditeur de P5.js</p>
            </li>
            <li>
              <h3><a href="#" target="_blank">La référence P5.js</a></h3>
              <p>La référence P5.js est une liste de l'ensemble des fonctions disponibles avec, pour la plupart, une documentation vous indiquant comment les utiliser.</p>
            </li>
          </ul>
        </div>
      </div>
</template>

<script>
export default {
    props: {
        alignright: Boolean,
        titre: String,
        description: String,
        prerequis: String,
        domaine: Array,
        illustration: String
    }
}
</script>

<style lang="scss">

.module-ateliers {
    .module-inner {
        display:flex;
        max-width:100%;
        flex-direction: column;
        h2 {
            color:white;
        }
        ul {
            display:flex;
                flex-direction: column;
                margin-top:.5rem;
                padding-left:0;
            li {
                display:flex;
                flex-direction: column;
                border-bottom:1px solid darken($basecolor, 3%);
                padding-top:.75rem;
           
                &:last-child {
                  border-bottom:none;
                }
                h3 {
                    font-size:1.1rem;
                    color:black;
                    margin-bottom:0;
                    a {
                      color:$basecolor;
                      text-decoration:none;
                    }
                }
                p {
                    font-size:.9rem;
                    font-weight:600;
                    color:white;
                    margin-bottom:.75rem;
                }
            }
        }
    }
}

.demande {
    display:flex;
    justify-content: center;
    padding:1rem 0 2rem;
}
.cta {
    text-decoration:none;
    background:lighten($basecolor,3%);
    color:white;
    padding:1rem 1.6rem;
    font-weight:700;
    border-radius:.2rem;
    font-size:1rem;
    transition:all ease .2s;
    box-shadow: .6rem .5rem darken($basecolor,5%);
    &:hover {
        box-shadow: .6rem .5rem darken($basecolor,8%);
    }
}
/*
.light-theme {
  .green {
      background:#f2f2f2;
  
  }
  .module-ateliers {
    .module-inner {
        h2 {
            color:#000;
        }
        ul {
            display:flex;
                flex-direction: column;
                margin-top:.5rem;
            li {
                display:flex;
                flex-direction: column;
                border-bottom:1px solid #dddddd;
                padding-top:.75rem;
           
                &:last-child {
                  border-bottom:none;
                }
                h3 {
                    font-size:1.1rem;
                  
                    margin-bottom:0;
                }
                p {
                    font-size:.9rem;
                    font-weight:600;
                    color:black;
                    margin-bottom:.75rem;
                }
            }
        }
    }
  }
}*/
</style>