<template>
    <article class="atelier">

    </article>
</template>

<script>
export default {
    props: {
        alignright: Boolean,
        titre: String,
        description: String,
        prerequis: String,
        domaine: Array,
        illustration: String
    }
}
</script>

<style lang="scss">

</style>
