<template>
<footer>
    <div class="inner-section">
      
    </div>
</footer>
    
</template>

<script>
export default {}
</script>

<style lang="scss">
footer {
    display:flex;
    flex-direction:column;
    background:#000;
    .stuff {
        
        p {
            // font-family: 'Vampiro One', cursive;
             font-size:1.1rem;
            // font-family: 'Chewy', cursive;
             font-family: 'Caveat', cursive;
            
            font-size:1.4rem;
            line-height:1.65rem;
            margin-bottom:.2rem;
           color:$basecolor;
           font-weight:700;
           font-style:italic;
          //font-family: 'Dokdo', cursive;
        }
    }
    .inner-section {
        
        color:#fff;
        display:flex;
        justify-content: center;
        font-size:.95rem;
        line-height:1.45rem;
        position:relative;
        /* common */
        width:calc(100% - 30vw);
        //max-width:1060px;
        max-width:100%;
        margin:0 auto;
        padding:1rem;
        padding-bottom:2rem;
        &:last-child {
            padding-bottom:3rem;
        }
        @include media(">tablet", "<1400px") {
            width:calc(100% - 8vw);
        }
        @include media("<tablet") {
            width:100%;
            flex-direction:column;
          
        }
        .site-branding {
            font-size:2rem;
            display:flex;
            flex-direction: column;
            align-items: center;
            line-height:$fontsize*1.5;
            transform:rotate(-6deg);
            text-decoration:none;
            color:white;
            margin-top:0;
            margin-bottom:1.2rem;
            display:none;
        }

        > div {
            padding:2rem;
            @include media("<tablet") {
            padding-bottom:0;
          }
        }
         > small {
             padding:2rem;
             padding-top:0;
            padding-bottom:2rem;
            padding-right:65%;

        }
        
    }

    nav {
        display:flex;
        flex-direction:column;
        a {
            margin:0 1rem 1rem 0;
            color:$links;
            font-weight:600;
            transition:all ease .2s;
            &:hover {
                text-decoration:none;
                color:darken($links,20%);
            }
        }
    }
}
</style>
