<template>
    <li class="fun-card" :class="isClosed ? 'accordion-closed' : 'accordion-open'">
        <h3  @click="isClosed = !isClosed">{{name}} <span class="type" :class="type == 'fonction' ? 'type-fonction' : type == 'variable' ? 'type-variable' : 'type-other'">{{type}}</span> </h3>
        <div class="fun-details" v-if="!isClosed">
            <p>{{description}}</p>
            <p class="exemple"><strong>{{example}}</strong> {{exampleText}}</p>
            <ul class="links">
                <li class="link-doc">
                    <a :href="linkDoc">
                        {{linkDocText}}
                        <span class="material-icons">open_in_new</span>
                    </a>
                </li>
                <li v-for="(link, index) in links" :key="index">
                    <a :href="link.target" target="_blank">
                        {{link.name}}
                        <span class="material-icons">open_in_new</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</template>

<script>
export default {
    props: {
        name: String,
        isClosed: Boolean,
        type: String,
        description: String,
        example: String,
        exampleText: String,
        linkDoc: String,
        linkDocText: String,
        links: Array
    }
}
</script>

<style lang="scss">

</style>
