<template>
    <section :class="drawer ? 'menu-is-open' : 'menu-is-closed'">
        <div class="inner-section nav-container">
            <nuxt-link class="" to="/">Accueil</nuxt-link>
            <nuxt-link class="" to="/exercices">Exercices</nuxt-link>
             <nuxt-link class="" to="/snippets">Bouts de code</nuxt-link>
            <nuxt-link class="" to="/share">Partager un sketch</nuxt-link>
            <!--<nav class="desktop-menu" v-if="!drawer">
                <nuxt-link class="" to="/">Fonctions et variables utiles</nuxt-link>
                <nuxt-link class="" to="/">Partager son travail</nuxt-link>
                <nuxt-link class="" to="/">Liens utiles</nuxt-link>
            </nav>
            <nav class="mobile-menu" v-if="drawer">
                <nuxt-link class="active" to="/" @click.native="toggle">-- projets</nuxt-link>
                <nuxt-link class="" to="/ateliers/" @click.native="toggle">-- ateliers</nuxt-link>
                <nuxt-link class="" to="/" @click.native="toggle">-- contact</nuxt-link>
            </nav>
            <span class="material-icons menuicon openmenu" @click="toggle" v-if="!drawer">
                drag_handle
            </span>
            <img src="/img/close.svg" alt="" class="menuicon openmenu" @click="toggle" v-if="drawer">
            -->
         </div>
    </section>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';

    export default {
        components: {
        },
        data() {
            return {
                window: {
                    width: 0,
                    height: 0
                }
            }
            
        },
        computed() {
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize);
        },
        methods: {
            ...mapMutations({ toggle:  "drawer/toggle" }),
            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            }
        },
        computed: {
            ...mapGetters({ drawer:  "drawer/getDrawerState" })
        }
    }
</script>

<style lang="scss">
.desktop-menu {
    display:none;
}

@include media(">desktop") {
    .openmenu {
        display:none;
    }
    .desktop-menu {
        display:flex;
    }
}
.openmenu {
        position:absolute;
        top:2rem;
        right:2rem;
    }
.menu-is-open {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(255,255,255,.9);
    @include media(">desktop") {
        display:none;
    }
    
    nav {
        display:flex;
        flex-direction:column;
        margin-top:3rem;
        a {
            font-size:1.8rem;
            margin:1rem 2rem;
        }
    }
   .site-branding {
       // font-size:3rem;
    }
    
}

.nav-container {
    display:flex;
    align-items: center;

    flex-direction: column;
    a {
        padding:.5rem 1rem;
        text-decoration:none;
        font-weight:600;
    }
    @include media(">desktop")  {
        flex-direction: row;
        align-items: center;
    }
    .site-branding {
        
        
    }
    > span {
        flex-grow:1;
        &.material-icons {
            flex-grow:0;
            font-size:3.5rem;
            transition:all ease .2s;
            &:hover {
                color:$basecolor;
                cursor:pointer;
            }
        }
    }
}
nav {
    a {
        margin:0 2rem 1rem 0;
        color:black;
        font-size:1rem;
        font-weight:600;
        transition:all ease .2s;
        text-decoration:none;
        &.active {
            color:$basecolor;
        }
        &:hover {
            color:$basecolor;
            text-decoration:none;
        }
    }
}
</style>
