<template>
    <div class="mobile-nav">
        <Menu />
    </div>
</template>

<script>
import Menu from "~/components/Menu";
export default {
    components: {
    Menu
  },
}
</script>

<style lang="scss">

</style>
