<template>
<div>
    <nav v-if="!drawer">
        <nuxt-link class="site-branding gitpush" to="/">
            git push
        </nuxt-link>
        <span></span>
        <nuxt-link class="active" to="/">--projets</nuxt-link>
        <nuxt-link class="" to="/ateliers/">--ateliers</nuxt-link>
        <nuxt-link class="" to="/">--contact</nuxt-link>
        <button @click="toggle">
            open menu
        </button>
    </nav>
    <nav class="mobile-menu" v-if="drawer">
        <nuxt-link class="site-branding gitpush" to="/" @click.native="toggle">
            git push
        </nuxt-link>
        <span></span>
        <nuxt-link class="active" to="/" @click.native="toggle">--projets</nuxt-link>
        <nuxt-link class="" to="/ateliers/" @click.native="toggle">--ateliers</nuxt-link>
        <nuxt-link class="" to="/" @click.native="toggle">--contact</nuxt-link>
        <button @click="toggle">
            close menu
        </button>
    </nav>
</div>
    
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
    components: {
       
    },
    methods: {
        ...mapMutations({ toggle:  "drawer/toggle" })
    },
    computed: {
        ...mapGetters({ drawer:  "drawer/getDrawerState" })
    }
}
</script>

<style lang="scss">

</style>
