<template>
    <article class="section-module">
        <h3>{{ titre }}</h3>
        <p>{{ content }}</p>
        <button class="cta" v-if="cta">
            {{ cta }}
        </button>
    </article>
</template>

<script>
export default {
  props: {
      titre: String,
      content: String,
      cta: String,
      isExpandable: Boolean,
      isExpanded: Boolean
  }
}
</script>

<style>
</style>
