<template>
    <div class="section-container">
        <div>
            <h2>{{ titre }}</h2>
            <slot></slot>
            <button class="cta" v-if="cta">
                {{ cta }}
            </button>
        </div>
    </div>
</template>

<script>
export default {
  props: {
      titre: String,
      modules: Number,
      cta: String,
      type: String,
      isExpandable: Boolean,
      isExpanded: Boolean
  },
  data() {
      return {
          isExpandable: true,
          isExpanded: true
      }
  },
  methods: {
      toggle: function(){
        this.isExpanded = !this.isExpanded;
      }
    }
}
</script>

<style>
</style>
