<template>
    <section class="sidebar" v-if="drawer">
         <NavLinks/>
    </section>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import NavLinks from "~/components/NavLinks";

export default {
    components: {
        NavLinks
    },
    methods: {
        ...mapMutations({ toggle:  "drawer/toggle" })
    },
    computed: {
        ...mapGetters({ drawer:  "drawer/getDrawerState" })
    }
}
</script>

<style lang="scss">

</style>
