// VARIABLES

@import "_include-media.scss";
$breakpoints: (phone: 20em, tablet: 48em, desktop: 64em);

$basecolor: #d30000;
$baselight: lighten($basecolor,45%);
$links: rgb(0, 92, 197);
$lightgray: #f1f1f1;
$radius:.3rem;
$fontsize:1.1rem;

body {
    padding:0;
    background:$basecolor;
    font-family: 'Open Sans', sans-serif;
    font-size:$fontsize;
}

a {
    color:$basecolor;
}

p {
    margin-bottom:1rem;
}

img {
    width:100%;
    height:auto;
}

.theme-swap {
    position:absolute;
    top:1rem;
    right:1rem;
    border-radius:5rem;
    border:none;
    outline:none !important;
    display:flex;
    justify-content: center;
    align-items: center;
    width:44px;
    height:44px;
    background:none;
    .material-icons {
        transition:all ease .2s;
    }
    .theme-light {
        color:#fff;
    }
    .theme-dark {
        color:#000;
    }
    &:hover {
        cursor:pointer;
        .theme-light,
        .theme-dark {
            color:$basecolor;
        }  
    }
}

.site-branding {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:2rem;
    font-family: 'Caveat', cursive;
    color:$basecolor;
    line-height:$fontsize*2.5;
    font-weight:400;
    position:relative;
    text-decoration:none;
    margin-top:2rem;
    opacity:.9;
    .baseline {
        font-family: 'Open Sans', sans-serif;
        font-size:.7rem;
        text-transform:uppercase;
    }
    &:hover {
        opacity:1;
    }
    span {
        font-size:3.2rem;
    }
}
.social {
    display:flex;
    margin-top:1rem;
    img {
        width:18px;
        height:auto;
        margin:.25rem;
    }
}
.menuicon {
    width:48px;
    height:auto;
}
section {
    padding:0 5vw;
    .inner-section {
        width:calc(100% - 30vw);
        max-width:960px;
        margin:0 auto;
        padding:1rem;
        @include media(">tablet", "<1400px") {
            width:calc(100% - 8vw);
        }
        @include media("<tablet") {
            width:100%;
        }
    }
}
.wrapper {
    display:flex;
    flex-direction: column;
    overflow:hidden;
    min-height:100vh;
    position:relative;
    background:white;
    .outils {
        display:flex;
        list-style-type:none;
        margin:2rem 0;
        padding:0;
        flex-wrap:wrap;
        li {
            display:flex;
            a {
                display:flex;
                text-decoration:none;
                background:$lightgray;
                padding:.5rem .8rem;
                margin:0 1rem 1rem 0;
                transition:all ease .2s;
                &:hover {
                    background:darken($lightgray, 3%);
                }
            }
        }
    }
    &.light-theme {
        .outils {
            li {
                a {
                    background:#f2f2f2;
                    color:darken($basecolor, 2%);
                    
                    &:hover {
                        background:darken(#f5f5f5, 3%);
                    }
                }
            }
        }
    }
    &.dark-theme {
        background: rgb(0,0,0);
        background: linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 100%);
        color:white;
        .content {
            flex-grow:1;
        }
        .invert {
            background:white;
        }
        .green {
            background:darken($basecolor,5%);
            background:$basecolor;
        }
        .social {
            img {
                filter: invert(1);
            }
        }
        .outils {
            li {
                a {
                    background:#222;
                    &:hover {
                        background:lighten(#222, 8%);
                    }
                }
            }
        }
    }
    .content {
        flex-grow:1;
    }
    .module {
        font-size:1.1rem;
        line-height:1.65rem;
        margin:2rem 0 4rem;
        h2 {
            
        }
        &.module-intro {
            column-count: 2;
            column-gap: 40px;
            @include media("<desktop") {
                column-count: 1;
            }
        }
        em {
            font-style: normal;
            font-weight:600;
            color:$basecolor;
        }
        h2 {
            font-weight:800;
            font-size:1.2rem;
            margin-bottom:.5rem;
            padding-top:1.5rem;
            //text-transform:uppercase;
           // font-family: 'Vampiro One', cursive;
            &::first-letter {
                text-transform:uppercase;
            }
            span {
                color:$basecolor;
            }
        }
    }
}

// FANCYBOX
.fancy {
    margin:2.5rem 0 .5rem;
    display:flex;
     
}
.legende {
    font-size:.9rem;
    color:#666;
    margin-bottom:1rem;
}
.fancybox-bg {
    background:#e6e0e0 !important;
}

.fancybox-slide--image {
    padding: 10rem !important;
}

.page-enter-active {
    transition: opacity 0.2s ease-out;
    opacity: 1;
}

.page-leave-active {
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

/* //////////////////////////////////////////////////// */
/* BACK TO TOP */
/* //////////////////////////////////////////////////// */

.back-to-top {
    transition: all ease 0.3s;
    text-decoration: none;
    &.active {
        position: fixed;
        bottom:0;
        right:0;
       // width:100vw;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        z-index: 1000;
        border-radius:500px;
        &:hover {
            color: white;
            transform: scale(1.1);
        }
    }
    .material-icons {


        
        background:none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        color:white;
        font-size:2.7rem;
        margin-bottom:2rem;
    }
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

.fun-card {
    
}

.fun-cards {
    display:flex;
    list-style-type:none;
    padding:0;
    flex-direction:column;
  }
  .fun-card {
    border-bottom:1px solid #dddddd;
    padding:.3rem 0;
    font-size:1rem;
    h3 {
        padding:.25rem 0;
        display:flex;
        align-items:center;
        justify-content: space-between;
        &:hover {
            color:$basecolor;
            cursor:pointer;
        }
        span {
            color:white;
            background:#111;
            font-size:.7rem;
            padding:0 .4rem;
            border-radius:.2rem;
            text-transform: uppercase;
            &.type-fonction {
                background:rgb(4, 75, 133);
            }
            &.type-variable {
                background:rgb(209, 40, 105);
            }
        }
    }
    p {
        margin:0;
    }
  }
  .fun-details {
    padding:.75rem 1.5rem;
    background:#f1f1f1;
    margin-bottom:1.5rem;
  }
  .exemple strong {
    display:inline-flex;
    color:#000 !important;
    background:#dadada;
    font-weight:600;
    padding:0 .5rem;
    border-radius:.15rem;
    margin-right:.1rem;
    font-size:.95rem;
  }
  ul.links {
    display:flex !important;
    list-style-type:none;
    padding:0;
    padding-top:.75rem;
  }
  .links li {
    display:inline-flex;
   
    a {
        text-decoration:none;
        font-weight:600;
        font-size:.95rem;
        display:flex;
        align-items:center;
        margin:0 1.2rem .75rem 0;
        color: black;
        &:hover {
            color:$basecolor;
        }
        .material-icons {
            font-size:14px;
            margin-left:.2rem
        }
    }
  }
  iframe {
      &.p5sketch {
          width:100%;
          height:auto;
          border:none;
          border:2px solid #ddd;
          border-radius:.5rem;
      }
  }

  .nuxt-content {
    h1 {
        font-size:2rem;
        font-weight:800;
        padding:3rem 0 .5rem;
      }
    h2 {
        font-size:1.3rem;
        font-weight:800;
        padding:2rem 0 .5rem;
      }
     
  }
  
