body {
  padding: 0;
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

a {
  color: #00be95;
}

p {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  font-family: 'Dokdo', cursive;
  /* font-family: 'Open Sans', sans-serif;
    font-family: 'Chewy', cursive;*/
  font-size: 2.5rem;
  color: #00be95;
  line-height: 3.3rem;
  font-weight: 300;
  position: relative;
  text-decoration: none;
  margin-top: 1rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.social img {
  width: 18px;
  height: auto;
  margin: .25rem;
}

.menuicon {
  width: 48px;
  height: auto;
}

section {
  padding: 0 5vw;
}

section .inner-section {
  width: calc(100% - 30vw);
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 48.01em) and (max-width: 1399px) {
  section .inner-section {
    width: calc(100% - 15vw);
  }
}

@media (max-width: 47.99em) {
  section .inner-section {
    width: 100%;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .module {
  font-size: 1.1rem;
  line-height: 1.65rem;
  margin: 2rem 0 4rem;
}

.wrapper .module.module-intro {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media (max-width: 63.99em) {
  .wrapper .module.module-intro {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.wrapper .module em {
  font-style: normal;
  font-weight: 600;
  color: #00be95;
}

.wrapper .module h2 {
  /*font-size:2.5rem;
            font-family: 'Dokdo', cursive;*/
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.wrapper .module h2::first-letter {
  text-transform: uppercase;
}

.wrapper .module h2 span {
  color: #00be95;
}

.fancybox-bg {
  background: #e6e0e0 !important;
}

.fancybox-slide--image {
  padding: 10rem !important;
}

.page-enter-active {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 1;
}

.page-leave-active {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */