<template>
  <main class="wrapper" :class="themeStatus ? 'dark-theme' : 'light-theme'">
    <Menu />
    <section class="main-content">
      <div class="inner-section">
        <Nuxt />
      </div>
    </section>
    <Footer/>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import Menu from "~/components/Menu";
import Footer from "~/components/Footer";


export default {
  components: {
    Menu,
    Footer
  },
  computed: {
    ...mapGetters(['themeStatus'])
  },
  methods: {
    toggleTheme() {
      this.$store.commit("TOGGLE_THEME")
    }
  },
  data() {
    return {

    }
  },
  mounted: function() {
      $(window).scroll(function() {
        var top = $(this).scrollTop(),
        windowHeight = $(this).height();
        if (top > 200) {
            $(".back-to-top").addClass("active");
        } else {
            $(".back-to-top").removeClass("active");
        }
      });
      $('.back-to-top').click(function() { 
        $('body,html').animate({
            scrollTop : 0 
        }, 500);
      }); 
    }
}
</script>

<style>
  html {
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  .main-content {
    flex-grow:1;
  }
  pre[class*="language-"], code[class*="language-"] {
    font-size:1.2rem;
    margin:1rem 0 2rem;
    font-weight:600;
    
  }
  code {
font-family: Inconsolata,monospace;
  }
</style>