<template>
  <section class="content">
      <div class="inner-section">
        <div class="module">
          <h2>Les <span>ateliers</span> et formations</h2>
          <div class="module-inner">
            <div class="section-module">
              <p><em><a href="https://www.atlassian.com/fr/git/tutorials/syncing/git-push" target="_blank">Git push</a></em> est un studio basé à Namur (BE) spécialisé dans la <em>production artistique</em>, la <em>conception de sites</em> et d’interfaces pour le web, le <em>design génératif</em> et la <em>manipulation d’images</em>. 
              Git push organise également des <em>ateliers et formations</em> autour de l&#39;art et/ou du numérique.</p>
              <p>Nous proposons différentes solutions pour la création de sites web, du <em>site Wordpress</em> aux <em>solutions statiques serveless</em> offrant une sécurité et des performances sans pareilles.</p>
            </div>
          </div>
      </div>
    </div>
  </section>
</template>

<script>
import Section from "~/components/Section";
import Menu from "~/components/Menu";
import Footer from "~/components/Footer";


export default {
  components: {
    Section,
    Menu,
    Footer
  },
  data() {
      return {
        pagetitle: "Antichambre"
      }
    },
}
</script>

<style>
  .galerie {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
</style>
