<template>
    <div>
      <div class="module" type="module-ateliers">
        <div class="module-inner">
      <h2>Liens</h2>
        <ul>
           <li>
          <a href="https://docs.google.com/spreadsheets/d/1nEs-s-N6C0LOMSAud2qOxOkmcWtu04rYwwVnGGde3vA/edit?usp=sharing" target="_blank">Document pour partager votre travail..</a>
          </li>
          <li>
            <a href="https://p5js.org/" target="_blank">Le site de P5js</a>
          </li>
          <li>
            <a href="https://p5js.org/reference/" target="_blank">La référence de P5js</a>
          </li>
          <li>
            <a href="https://editor.p5js.org/" target="_blank">L'éditeur de P5js</a>
          </li>
          <li>
            <a href="https://codep5.netlify.app/" target="_blank">Support des workshops B1</a>
          </li>
          <li>
            <a href="https://codep5.netlify.app/generalites/adresses.html" target="_blank">Adresses utiles</a>
          </li>
        </ul>
      <h2>Exemples</h2>
  
      <ul>
        
        <li>
          <a href="https://morellet.netlify.app/" target="_blank">François Morellet</a>
        </li>
        
        <li>
          <a href="https://codep5.netlify.app/generalites/inspirations.html#pablo-garcia" target="_blank">Quelques exemples</a>
        </li>
        <li>
          <a href="https://scratch.mit.edu/projects/258342260/editor/">Scratch</a>
        </li>
      </ul>
      <h2>Sketches</h2>
      <ul>
        <li>
          <a href="https://editor.p5js.org/Antichambre/sketches/HJNVe1pfV" target="_blank">Dessiner et exporter</a>
        </li>
        <li>
          <a href="https://editor.p5js.org/Antichambre/sketches/VCyMymUW2" target="_blank">Dessin - Mouse is pressed</a>
        </li>       
        <li>
          <a href="https://editor.p5js.org/Antichambre/sketches/BhPqaJbNt" target="_blank">Color Clock</a>
        </li>
        <li>
          <a href="https://editor.p5js.org/Antichambre/sketches/svvtXP4Nq" target="_blank">Dessiner avec une image</a>
        </li>
        <li>
          <a href="https://patternator.netlify.app/" target="_blank">Patternator</a>
        </li>
        <li>
          <a href="https://p5studio.timrodenbroeker.now.sh/" target="_blank">P5 Studio</a>
        </li>
      </ul>
        
      </div>
      </div>
      <div class="module" type="module-ateliers">
        
      </div>
      <div class="module" type="module-ateliers">
        <div class="module-inner">
          <a href="/snippets">Snippets</a>
            <h2>Quelques fonctions et variables utiles</h2>
            <p>Une fonction peut prendre l'une ou l'autre valeur en paramètre. Les variables natives, elles, renvoient une valeur précise.</p>
          <ul class="fun-cards">
            <Function
              v-for="(item, index) in FunctionsData" :key="index"
              :name="item.name"
              :isClosed="true"
              :type="item.type"
              :description="item.description"
              :example="item.example"
              :exampleText="item.exampleText"
              :linkDoc="item.linkDoc"
              :linkDocText="item.linkDocText"
              :links="item.links"
            />
            <Function
              v-for="(item, index) in VariablesData" :key="index"
              :name="item.name"
              :isClosed="true"
              :type="item.type"
              :description="item.description"
              :example="item.example"
              :exampleText="item.exampleText"
              :linkDoc="item.linkDoc"
              :linkDocText="item.linkDocText"
              :links="item.links"
            />
          </ul>
          <ul>
            <li>background, width, height, fill, noFill, color</li>
          </ul>
        </div>
      </div>
     

  

</div>
</template>

<script>
import Ateliers from "~/components/Ateliers";
import Function from "~/components/Function";
import FunctionsData from "~/components/data/functions.json";

export default {
  components: {
    Ateliers,
    Function,
  },
  data() {
    return {
      FunctionsData: FunctionsData.fonctions,
      VariablesData: FunctionsData.variables
    }
  }
}
</script>

<style>
  
</style>